@import "../dist/webkit-sassui-hairline.scss";
.container{
  padding: 50px;
}
.test-webkit-sassui-hairline-1{
  height:50px;
  @include webkit-sassui-hairline('x');
  border-bottom: 1px solid #c8c7cc;;
}


.test-webkit-sassui-hairline-2{
  @include webkit-sassui-hairline('y');
  height:100px;
  border-right: 1px solid #c8c7cc;;
}


.test-webkit-sassui-hairline-3{
  @include webkit-sassui-hairline('y',#F00);
  border-right: 1px solid #F00;;
}

.blank20{
  height:20px;
}
