@import "../dist/webkit-sassui-hairline.scss";
.container{
  padding: 20px;
  h2{
    margin-top:0;
  }
}
.test-webkit-sassui-hairline-1{
  height:50px;
  @include webkit-sassui-hairline('top',#f60);
  border-bottom: 1px solid #c8c7cc;;
}


.test-webkit-sassui-hairline-2{
  @include webkit-sassui-hairline('right',#0F0);
  height:50px;
  border-left: 1px solid #c8c7cc;;
}


.test-webkit-sassui-hairline-3{
  height:50px;
  @include webkit-sassui-hairline('bottom',#F00);
  border-top: 1px solid #F00;
}
.test-webkit-sassui-hairline-4{
  height:50px;
  @include webkit-sassui-hairline('left',#00F);
  border-right: 1px solid #F00;;
}

.blank20{
  height:20px;
}
