/*webkit-sassui-hairline Start*/
.webkit-sassui-hairline, .test-webkit-sassui-hairline-1, .test-webkit-sassui-hairline-2, .test-webkit-sassui-hairline-3, .test-webkit-sassui-hairline-4 {
  position: relative;
}

.webkit-sassui-hairline:after, .test-webkit-sassui-hairline-1:after, .test-webkit-sassui-hairline-2:after, .test-webkit-sassui-hairline-3:after, .test-webkit-sassui-hairline-4:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: auto;
  right: auto;
  z-index: 3;
  display: block;
}

.webkit-sassui-hairline-x:after, .test-webkit-sassui-hairline-1:after, .test-webkit-sassui-hairline-3:after {
  height: 1px;
  width: 100%;
  display: block;
  z-index: 15;
  transform-origin: 50% 0;
  transform: scaleY(0.5);
}

.webkit-sassui-hairline-y:after, .test-webkit-sassui-hairline-2:after, .test-webkit-sassui-hairline-4:after {
  width: 1px;
  height: 100%;
  display: block;
  z-index: 15;
  transform-origin: 0 50%;
  transform: scaleX(0.5);
}

/*webkit-sassui-hairline End*/
.container {
  padding: 20px;
}

.container h2 {
  margin-top: 0;
}

.test-webkit-sassui-hairline-1 {
  height: 50px;
  border-bottom: 1px solid #c8c7cc;
}

.test-webkit-sassui-hairline-1:after {
  background: #f60;
}

.test-webkit-sassui-hairline-2 {
  height: 50px;
  border-left: 1px solid #c8c7cc;
}

.test-webkit-sassui-hairline-2:after {
  background: #0F0;
  left: auto;
  right: 0;
}

.test-webkit-sassui-hairline-3 {
  height: 50px;
  border-top: 1px solid #F00;
}

.test-webkit-sassui-hairline-3:after {
  background: #F00;
  top: auto;
  bottom: 0;
}

.test-webkit-sassui-hairline-4 {
  height: 50px;
  border-right: 1px solid #F00;
}

.test-webkit-sassui-hairline-4:after {
  background: #00F;
}

.blank20 {
  height: 20px;
}
