/*webkit-sassui-hairline Start*/
.webkit-sassui-hairline{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    z-index:3;
    display: block;
  }
}

.webkit-sassui-hairline-x{
  &:after{
    height: 1px;
    width: 100%;
    display: block;
    z-index: 15;
    transform-origin: 50% 0;
    transform: scaleY(.5);
  }
}

.webkit-sassui-hairline-y{
  &:after{
    width: 1px;
    height: 100%;
    display: block;
    z-index: 15;
    transform-origin: 0 50%;
    transform: scaleX(.5);
  }
}

@mixin webkit-sassui-hairline($inPostion:'top',$inColor:#c8c7cc){
  $direction:'';
  @if $inPostion=='left' or $inPostion=='right' {
    $direction: 'y';
  }
  @if $inPostion=='top' or $inPostion=='bottom' {
    $direction: 'x';
  }

  @extend .webkit-sassui-hairline,.webkit-sassui-hairline-#{$direction};
  &:after{
    background: $inColor;
    @if $inPostion=='right'{
      left:auto;
      right:0;
    }@elseif $inPostion=='bottom'{
      top:auto;
      bottom:0;
    }
  }
}
/*webkit-sassui-hairline End*/
